label {
    margin-left: 3px;
}

button.reminder {
    height: 20px;
    width: 20px;
    border-radius: 15px;
    padding: 0px 6px;
    font-size: 11px;
    text-align: center;
}

button.back {
    float: right;
}